{% load util %}
<div class="card my-3">
    <div class="card-header">
        Contact details
    </div>
    <div class="card-body">
        <p>
            <b>UID:</b> {{ card.uid }}
        </p>
        {% if card.created %}
            <p>
                <b>Created:</b> {{ card.created }}
            </p>
        {% endif %}
        {% if card.updated %}
            <p>
                <b>Last updated:</b> {{ card.updated }}
            </p>
        {% endif %}
        {% if card.kind %}
            <p>
                <b>Kind:</b>
                {% if card.kind == "org" %}
                    Organisation
                {% elif card.kind == "location" %}
                    Location
                {% elif card.kind == "device" %}
                    Device
                {% elif card.kind == "application" %}
                    Application
                {% elif card.kind == "individual" %}
                    Individual
                {% elif card.kind == "group" %}
                    Group
                {% else %}
                    {{ card.kind }}
                {% endif %}
            </p>
        {% endif %}
        {% if card.language %}
            <p>
                <b>Language:</b> {{ card.language }}
            </p>
        {% endif %}
        {% if card.name %}
            <p>
                <b>Name:</b> {{ card.name.full }}
            </p>
        {% endif %}
        {% for k, v in card.nickNames.items %}
            <p>
                <b>Nickname:</b> {{ v.name }}
            </p>
        {% endfor %}
        {% for _, organisation in card.organizations.items %}
            <p>
                <b>Organisation:</b> {{ organisation.name }}
                {% for unit in organisation.units %}
                    <br/>
                    <b>Unit:</b> {{ unit.name }}
                {% endfor %}
            </p>
        {% endfor %}
        {% for _, titles in card.titles.items %}
            <p>
                {% if title.kind == "title" %}
                    <b>Job Title:</b>
                {% elif title.kind == "role" %}
                    <b>Role: </b>
                {% endif %}
                {{ title.name }}
            </p>
        {% endfor %}
        {% for _, email in card.emails.items %}
            <p>
                <b>Email: </b> <a href="mailto:{{ email.address }}">{{ email.address }}</a>
                {% if email.label %}({{ email.label }}){% endif %}
            </p>
        {% endfor %}
        {% for _, os in card.onlineServices.items %}
            <p>
                {% if os.service %}
                    <b>{{ os.service }}:</b>
                {% else %}
                    <b>Online Service:</b>
                {% endif %}

                {% if os.uri %}
                    <a href="{{ os.uri }}">
                        {% if os.user %}{{ os.user }}{% else %}{{ os.uri }}{% endif %}
                    </a>
                {% else %}
                    {{ os.user }}
                {% endif %}

                {% if os.label %}({{ os.label }}){% endif %}
            </p>
        {% endfor %}
        {% for _, phone in card.phones.items %}
            <p>
                <b>Phone:</b>
                <a href="{{ phone.number }}">{{ phone.number }}</a>
                {% if phone.features.mobile %}
                    <span class="badge bg-primary">Mobile</span>
                {% endif %}
                {% if phone.features.voice %}
                    <span class="badge bg-primary">Voice</span>
                {% endif %}
                {% if phone.features.text %}
                    <span class="badge bg-primary">Text</span>
                {% endif %}
                {% if phone.features.video %}
                    <span class="badge bg-primary">Video</span>
                {% endif %}
                {% if phone.features.textphone %}
                    <span class="badge bg-primary">Textphone</span>
                {% endif %}
                {% if phone.features.fax %}
                    <span class="badge bg-primary">Fax</span>
                {% endif %}
                {% if phone.features.pager %}
                    <span class="badge bg-primary">Pager</span>
                {% endif %}
                {% if phone.label %}<br/>({{ phone.label }}){% endif %}
            </p>
        {% endfor %}
        {% for _, address in card.addresses.items %}
            <p>
                <b>
                    Address
                    {% if address.contexts.billing %}<span class="badge bg-primary">Billing</span>{% endif %}
                    {% if address.contexts.delivery %}<span class="badge bg-primary">Delivery</span>{% endif %}
                </b>
                <br/>
                {% for c in address.components %}
                    {{ c.value|linebreaksbr }}
                {% empty %}
                    {{ address.full|linebreaksbr }}
                {% endfor %}
                {% if address.coordinates %}
                    <br>
                    Coordinates: <a href="{{ address.coordinates }}">{{ address.coordinates }}</a>
                {% endif %}
                {% if address.timeZone %}
                    <br>
                    Time zone: {{ address.timeZone }}
                {% endif %}
            </p>
        {% endfor %}
        {% for _, link in card.links.items %}
            <p>
                <b>Link:</b> <a href="{{ link.url }}">{{ link.url }}</a>
                {% if link.kind == "contact" %}<span class="badge bg-primary">Contact</span>{% endif %}
            </p>
        {% endfor %}
        {% for _note in card.notes.items %}
            <p>
                <b>Note:</b> {{ note.note }}
                {% if note.created %}
                    <br/>
                    <b>Created:</b> {{ note.created }}
                {% endif %}
                {% if note.author %}
                    <br/>
                    <b>Author:</b>
                    {% if note.author.uri %}
                        <a href="{{ note.author.uri }}">{{ note.author.name }}</a>
                    {% else %}
                        {{ note.author.name }}
                    {% endif %}
                {% endif %}
            </p>
        {% endfor %}
    </div>
</div>