{% extends 'whois/base.html' %}
{% load static %}
{% block content %}
    <div class="my-5"></div>
    <section class="stripe">
        <div class="container my-3">
            <div class="bg-light p-3 rounded my-4">
                <h1 class="display-4">Search our WHOIS &#x1f50d;</h1>
                <p>
                    Also available at whois.as207960.net for port 43 service, and https://whois-web.as207960.net/rdap
                    for RDAP services.
                </p>
                <hr class="my-4">
                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        <h4 class="alert-heading">Error!</h4>
                        <p>There was an error processing your request</p>
                        <hr>
                        <p class="mb-0">{{ error }}</p>
                    </div>
                {% endif %}
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-group my-3">
                        <label for="search-term">Search term</label>
                        <div class="input-group">
                            <select class="form-select" name="type">
                                <option value="domain">Domains</option>
                                <option value="entity">Entities</option>
                                <option value="name_server">Name servers</option>
                            </select>
                            <input type="text" class="form-control" id="search-term" name="query" style="flex-basis: 70%;">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Search</button>
                </form>
            </div>
        </div>
    </section>
    <div class="container pt-5">
        {% if redirect %}
            <h2>Found elsewhere</h2>
            <p>
                See <a href="{{ redirect }}">{{ redirect }}</a>
            </p>
        {% endif %}
        {% if objects != None %}
            <h2>Found {{ objects|length }} object(s)</h2>
            {% for object in objects %}
                {% if object.objectClassName == "domain" %}
                    {% include "whois/objects/domain.html" with object=object only %}
                {% elif object.objectClassName == "entity" %}
                    {% include "whois/objects/entity.html" with object=object only %}
                {% elif object.objectClassName == "nameserver" %}
                    {% include "whois/objects/name_server.html" with object=object only %}
                {% endif %}
            {% endfor %}
        {% endif %}
        <h2>WHOIS by Post</h2>
        <p>
            To submit a postal WHOIS query, please complete <a href="{% static "whois/whois-form.pdf" %}">this form</a> and return it via post or fax.
        <h2>Status codes</h2>
        <p>
            For more information on domain status codes, please visit <a href="https://icann.org/epp">https://icann.org/epp</a>.
        </p>
        <h2>RDDS Inaccuracy Complaint Form</h2>
        <p>
            URL of the ICANN RDDS Inaccuracy Complaint Form: <a
                href="https://icann.org/wicf ">https://icann.org/wicf</a>.
        </p>
        <h2>Terms of Use</h2>
        <p>
            You may use this service for any lawful purpose except to allow, enable, or
            otherwise support the transmission by e-mail, telephone, or facsimile of mass, unsolicited
            commercial advertising or solicitations to entities or to enable high volume, automated,
            electronic processes that send queries to our systems or the systems of any Registry Operator.
            Access to the WHOIS database is provided solely to obtain information about or related to a
            domain name registration record, and no warranty is made as to its accuracy or fitness for any
            particular purpose. We reserve the right to restrict your access to the WHOIS database at our sole
            discretion to ensure operational stability and restrict abuse.
        </p>
        <h2>Trans Rights</h2>
        <pre style="background: #4f4f4f; text-align: center">

<span style="color: #5bcffa">████████ ██████   █████  ███    ██ ███████</span>
<span style="color: #5bcffa">   ██    ██   ██ ██   ██ ████   ██ ██     </span>
<span style="color: #f5abb9">   ██    ██████  ███████ ██ ██  ██ ███████</span>
<span style="color: #f5abb9">   ██    ██   ██ ██   ██ ██  ██ ██      ██</span>
<span style="color: #ffffff">   ██    ██   ██ ██   ██ ██   ████ ███████</span>

<span style="color: #ffffff">██████  ██  ██████  ██   ██ ████████ ███████</span>
<span style="color: #f5abb9">██   ██ ██ ██       ██   ██    ██    ██     </span>
<span style="color: #f5abb9">██████  ██ ██   ███ ███████    ██    ███████</span>
<span style="color: #5bcffa">██   ██ ██ ██    ██ ██   ██    ██         ██</span>
<span style="color: #5bcffa">██   ██ ██  ██████  ██   ██    ██    ███████</span>
        </pre>
    </div>
{% endblock %}
