{% extends 'whois/base.html' %}
{% block content %}
    <div class="my-5"></div>
    <section class="stripe">
        <div class="container my-3">
            <div class="jumbotron">
                <h1 class="display-4">Search our WHOIS &#x1f50d;</h1>
                <hr class="my-4">
                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        <h4 class="alert-heading">Error!</h4>
                        <p>There was an error processing your request</p>
                        <hr>
                        <p class="mb-0">{{ error }}</p>
                    </div>
                {% endif %}
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="search-term">Search term</label>
                        <input type="text" class="form-control" id="search-term" name="query">
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </div>
        </div>
    </section>
    <div class="container pt-5">
        {% if redirect %}
            <h2>Found elsewhere</h2>
            <p>
                See <a href="{{ redirect }}">{{ redirect }}</a>
            </p>
        {% endif %}
        {% if objects %}
            <h2>Found {{ objects|length }} object(s)</h2>
            {% for object in objects %}
                {% if object.objectClassName == "domain" %}
                    {% include "whois/objects/domain.html" with object=object only %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}